*, *::before, *::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body {
   background-color: #080D2B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    color: #f0F0F5;
}
.profile-img {
     width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid #920645;
            margin-bottom: 20px;
}